# cobra==0.26.2
cplex==22.1.0.0
docplex==2.23.222
gurobipy==9.5.2
micom==0.32.3
numpy==1.23.5
optlang==1.5.2
packaging==21.3
pandas==1.4.3
setuptools==56.0.0
tqdm==4.64.0
python_libsbml==5.19.2
pytest==7.1.2
pytest-check==2.1.2
sphinx_rtd_theme==1.1.1
matplotlib==3.7.0