cobra==0.26.3
cplex==22.1.1.0
gurobipy==9.5.2
matplotlib==3.7.0
numpy==1.23.5
optlang==1.5.2
pandas==1.5.3
pytest==7.1.2
pytest_check==2.1.4
scikit_bio==0.5.8
scipy==1.10.1
seaborn==0.12.2
setuptools==56.0.0
tqdm==4.64.0
flake8==6.0.0